<div class="container">
    <div class="row">
        <h1> Los 2 tipos de tattoo que existen </h1>
        <div class="col">
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Bodysuit</mat-card-title>
                    </mat-card-header>
                    <div class="card-body">
                    <img mat-card-image src="" alt="" class="img">
                    <mat-card-content>
                        <p>
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <span></span>
                        <div style="flex-grow: 1;"></div> <!-- Espaciador -->
                    </mat-card-actions>
                  </div>
                </mat-card>
            </div>
        </div>
    </div>
  
