<mat-toolbar>


  <img src="../../../../../assets/LOGO.png" alt="">
  <!-- se van a mostrar cuando la pantalla sea mayor a 700px -->
  <!-- boton para la vista de inicio -->
  <!-- Botón para la vista de Inicio -->
  <button id="inicio" mat-button routerLink="/inicio">𝕴𝖓𝖎𝖈𝖎𝖔</button>

  <!-- Menu desplegable -> PRODUCTOS -->

  <button id="contacto" class="padder-button" mat-button routerLink="/contacto">𝕮𝖔𝖓𝖙𝖆𝖈𝖙𝖔</button>
  <button id="nosotros" class="padder-button" mat-button routerLink="/sobre-nosotros">𝕾𝖔𝖇𝖗𝖊 𝖓𝖔𝖘𝖔𝖙𝖗𝖔𝖘</button>
  <button id="nosotros" class="padder-button" mat-button routerLink="/admin">𝕬𝖉𝖒𝖎𝖓</button>
  <button id="nosotros" class="padder-button" mat-button routerLink="/productosropa">Producto y Ropa</button>

  <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop"
  aria-controls="offcanvasTop" id="menuCanva">
    <mat-icon>menu</mat-icon>
</button>

<div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasTopLabel">𝕺𝖕𝖈𝖎𝖔𝖓𝖊𝖘</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul>
      <li routerLink="/inicio">𝕴𝖓𝖎𝖈𝖎𝖔</li>
      <li routerLink="/contacto">𝕮𝖔𝖓𝖙𝖆𝖈𝖙𝖔</li>
      <li routerLink="/sobre-nosotros">𝕾𝖔𝖇𝖗𝖊 𝖓𝖔𝖘𝖔𝖙𝖗𝖔𝖘</li>
      <li routerLink="/admin">𝕬𝖉𝖒𝖎𝖓</li>
      <li routerLink="/productosropa">producto y ropa</li>
    </ul>
  </div>
</div>

  <span class="example-spacer"></span>

  <!-- Inicio de sesión y el Registro de un nuevo usuario -->
  <!-- menu desplegable para manejar todo el acceso de los -->
  <button mat-icon-button [matMenuTriggerFor]="usuario"><mat-icon>person</mat-icon></button>
  <mat-menu #usuario="matMenu">
    <button mat-menu-item (click)="ingresar()" *ngIf="logueado" routerLink="/registro">𝕽𝖊𝖌𝖎𝖘𝖙𝖗𝖆𝖗𝖘𝖊</button>
    <button mat-menu-item (click)="ingresar()" *ngIf="logueado" routerLink="/inicio-sesion">𝕴𝖓𝖎𝖈𝖎𝖆𝖗 𝕾𝖊𝖘𝖎𝖔𝖓</button>
    <button mat-menu-item (click)="cerrarSesion()" *ngIf="deslogueado">𝕮𝖊𝖗𝖗𝖆𝖗 𝕾𝖊𝖘𝖎𝖔𝖓</button>
  </mat-menu>



  <!--Label para modo oscuro-->
  
 <!-- <label for="toggle" id="label_toggle"><i class="fa-solid fa-moon"></i></label>
  <input type="checkbox" id="toggle" (click)="cambiarFondo()"> -->

</mat-toolbar>