.example-spacer {
    flex: 1 1 auto;
}


#menuinicio {
    display: none;
}

#menuproducto {
    display: none;
}


#menuSecciones {
    display: none;
}

img {
    width: 70px;
    height: 55px;
}



.input-container {
    margin: 0;
    display: flex;
    justify-content: center;
}

.input {
    display: flex;
}

.icon {
    position: absolute;
    right: 10px;
    top: calc(50% + 5px);
    transform: translateY(calc(-50% - 5px));
}

.input {
    width: 100%;
    height: 40px;
    padding: 10px;
    transition: .2s linear;
    border: 2.5px solid black;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.input:focus {
    outline: none;
    border: 0.5px solid black;
    box-shadow: -5px -5px 0px black;
}

.input-container:hover>.icon {
    animation: anim 1s linear infinite;
}

@keyframes anim {

    0%,
    100% {
        transform: translateY(calc(-50% - 5px)) scale(1);
    }

    50% {
        transform: translateY(calc(-50% - 5px)) scale(1.1);
    }
}

.btn-contacto {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-contacto:hover {
    background-color: #000000;
}

.padder-button {
    padding-left: 19px;
    padding-right: 19px;
}

@media(min-width: 300px) and (max-width:700px) {
    .padder-button {
        padding-left: 8%;
        padding-right: 20%;

        color: rgb(255, 0, 0);
    }

    #inicio{
        display: none;
    }

    #contacto{
        display: none;
    }

    #nosotros{
        display: none;
    }

    mat-toolbar {
        background-color: rgb(255, 0, 0);
        display: flex;
        justify-content: space-around;
        width: 700px;

    }

    .offcanvas{
        height: 250px;
    }
}

@media(min-width: 700px){
    #menuCanva{
        display: none;
        
    }

    mat-toolbar {
        background-color: rgb(255, 0, 0);
        display: flex;
        justify-content: space-around;

    }

    
}