<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Número</th>
        <th>Comentario</th>
        <th>Calificación</th>
        <th>Imagen</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let publicacion of publicaciones">
        <td>{{ publicacion.Numero }}</td>
        <td>{{ publicacion.Comentario }}</td>
        <td>{{ publicacion.Calificacion }}</td>
        <td><img [src]="publicacion.imagen" [alt]="publicacion.alt" style="width: 100px; height: auto;"></td>
        <td>
          <button (click)="editarPublicacion(publicacion)">Editar</button>
          <button (click)="eliminarPublicacion(publicacion.idPublicacion)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
