.contacto-container {
  max-width: 800px; /* Aumenta el ancho máximo */
  margin: 0 auto;
  padding: 30px; /* Aumenta el padding para más espacio interno */
  background-color: #f9f9f9; /* Fondo ligeramente diferente para destacarlo */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Sombra para profundidad */
}

.form-group {
  margin-bottom: 20px; /* Aumenta el espacio entre los grupos de formulario */
}

label {
  font-weight: bold;
  font-size: 1.1em; /* Aumenta el tamaño de fuente */
}

input, textarea {
  width: 100%;
  padding: 10px; /* Aumenta el padding para un mejor tacto */
  margin-top: 8px; /* Aumenta el margen superior */
  font-size: 1em; /* Aumenta el tamaño de fuente */
}

button {
  background-color: #007bff;
  color: white;
  padding: 12px 24px; /* Aumenta el padding del botón */
  border: none;
  cursor: pointer;
  font-size: 1em; /* Aumenta el tamaño de fuente del botón */
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

@media(min-width: 300px) and (max-width:700px) {
  .contacto-container{
      
  }

}
  