<footer class="footer">
  <!-- Secciones -->
  <div class="footer-sections">
    <h3>𝕾𝖊𝖈𝖈𝖎𝖔𝖓𝖊𝖘</h3>
    <ul>
      <li><a routerLink="/inicio">𝕿𝖆𝖙𝖙𝖔𝖔𝖘</a></li>
      <li><a routerLink="/sobre-nosotros">𝕹𝖔𝖘𝖔𝖙𝖗𝖔𝖘</a></li>
      <li><a routerLink="/contacto">𝕮𝖔𝖓𝖙𝖆𝖈𝖙𝖔</a></li>
      <li><a routerLink="/registro">𝕽𝖊𝖌𝖎𝖘𝖙𝖗𝖆𝖗𝖘𝖊</a></li>
      <li><a routerLink="/inicio-sesion">𝕴𝖓𝖎𝖈𝖎𝖆𝖗 𝖘𝖊𝖘𝖎𝖔𝖓</a></li>
    </ul>
  </div>

  <!-- Redes Sociales -->
  <div class="footer-socials">
    <h3>𝕽𝖊𝖉𝖊𝖘 𝖘𝖔𝖈𝖎𝖆𝖑𝖊𝖘</h3>
    <a href="https://www.instagram.com" target="_blank" aria-label="Instagram">
      <img src="https://img.icons8.com/?size=100&id=RhYNENh5cxlS&format=png&color=000000" alt="Instagram" class="social-icon" /> 𝕴𝖓𝖘𝖙𝖆𝖌𝖗𝖆𝖒.
    </a>
    <a href="https://www.facebook.com" target="_blank" aria-label="Facebook">
      <img src="https://img.icons8.com/?size=100&id=118467&format=png&color=000000" alt="Facebook" class="social-icon" /> 𝕱𝖆𝖈𝖊𝖇𝖔𝖔𝖐.
    </a>
    <a href="https://www.x.com" target="_blank" aria-label="X">
      <img src="https://img.icons8.com/?size=100&id=phOKFKYpe00C&format=png&color=000000" alt="X" class="social-icon" /> 𝖝
    </a>
    <a href="https://www.whatsapp.com" target="_blank" aria-label="WhatsApp">
      <img src="https://img.icons8.com/?size=100&id=16733&format=png&color=000000" alt="WhatsApp" class="social-icon" /> 𝖂𝖍𝖆𝖙𝖘𝕬𝖕𝖕.
    </a>
  </div>

  <!-- Mapa de ubicación -->
  <div class="footer-location">
    <h3>𝕰𝖓𝖈𝖔𝖓𝖙𝖗𝖆𝖓𝖔𝖘</h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3104.1671628924078!2d-67.99315772424971!3d-38.92015657171927!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x960a30e7a461b819%3A0x365453f5ea09d885!2sLa%20Esmeralda%2C%20R%C3%ADo%20Negro!5e0!3m2!1ses-419!2sar!4v1730287282908!5m2!1ses-419!2sar" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <p>La esmeralda 1100</p>
  </div>

  <!-- Copyright -->
  <div class="footer-copyright">
    &copy; Copyright 2024 - Julián Soto
  </div>
</footer>
