<!--<p>productosropa works!</p>
<div class="productos-container">
    <mat-card *ngFor="let producto of productos" class="producto-card">
      <mat-card-header>
        <mat-card-title>{{ producto.nombre }}</mat-card-title>
        <mat-card-subtitle>${{ producto.precio }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="producto.imagen" [alt]="producto.alt" />
      <mat-card-content>
        <p>{{ producto.descripcion }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary">Comprar</button>
        <button mat-button color="accent">Detalles</button>
      </mat-card-actions>
    </mat-card>
  </div> -->
  