<div class="container">
  <div class="row">
      <h1> Estilos de Tatuajes </h1>
      <div class="col">
          <div *ngFor="let tattoo of info" class="contenido">
              <mat-card class="example-card">
                  <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>{{tattoo.nombre}}</mat-card-title>
                      <mat-card-subtitle>años de existencia: {{tattoo.edad}}</mat-card-subtitle>
                  </mat-card-header>
                  <div class="card-body">
                  <img mat-card-image src="{{tattoo.imagen}}" alt="{{tattoo.alt}}" class="img">
                  <mat-card-content>
                      <p>
                          Estilo: {{tattoo.estilo}}
                      </p>
                      <p>
                          Descripción: {{tattoo.descripcion}}
                      </p>
                  </mat-card-content>
                  <mat-card-actions>
                      <span>Edad recomendada: {{tattoo.edad}}</span>
                      <div style="flex-grow: 1;"></div> <!-- Espaciador -->
                      <button mat-button id="boton">Añadir al carro</button>
                  </mat-card-actions>
                </div>
              </mat-card>
          </div>
      </div>
  </div>
</div>
