.container{
    display: flex;
    position: center;
    padding: 10px;
    justify-content: space-around;
    margin: 0;
}

img{
    width: 220px;
    height: 220px;
}


.contenido{
    width: 200px;
    display: flex;
    padding: 15px;
    border-radius: 15px;
    margin: 30px;
    justify-content: left;
    flex-direction: row;

}

p{
    padding: 10px;
}

ul li{
    list-style: none;
}

.imagen{
    display: flex;

    margin: 0.5rem;
    filter: brightness(0.2);

    transition: transform 0.1s;
}

.imagen:hover{
    filter: brightness(0.6);

}

.imagen:hover+*{
    filter: brightness(0.1);
}

/* From Uiverse.io by andrew-demchenk0 */ 
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.container svg {
  position: relative;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  transition: all 0.3s;
  fill: #666;
}

.container svg:hover {
  transform: scale(1.1);
}

.container input:checked ~ svg {
  fill: #080808;
}



  

