<div class="container">
    <h2>Lista de Publicaciones</h2>
    <div *ngIf="publicaciones.length > 0; else sinPublicaciones">
      <div *ngFor="let publicacion of publicaciones" class="card mb-3">
        <img [src]="publicacion.imagen" [alt]="publicacion.alt" class="card-img-top" style="height: 200px; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title">Publicación #{{ publicacion.Numero }}</h5>
          <p class="card-text">Comentario: {{ publicacion.Comentario }}</p>
          <p class="card-text">Calificación: {{ publicacion.Calificacion }}</p>
        </div>
      </div>
    </div>
    <ng-template #sinPublicaciones>
      <p>No hay publicaciones disponibles.</p>
    </ng-template>
  </div>
  
